*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: flex;
    inline-size: 1140px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: Fira Sans Condensed, Arial, sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

.content {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    justify-self: center;
    align-self: center;
    gap: 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

.result {
    display: inline-block;
    align-self: end;
}

.result__video-container {
    position: relative;
    margin-bottom: 14px;
    height: auto;
    align-self: end;
    width: 711px;
}

.result__video {
    height: 386px;
    width: 100%;
    object-fit: cover;
    object-position: start;
}

.search-form {
    display: flex;
    gap: 40px;
    min-height: 55px;
}

.search-form__label {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.search-form__fieldset {
    border: none;
}

.search-form__fieldset-title {
    color: #fff;
    text-transform: initial;
    font-family: Fira Sans Condensed, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.search-form__textfield {
    width: 225px;
    background-color: transparent;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: Fira Sans Condensed, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    appearance: none;
}



.search-form__textfield:focus {
    outline: none;
}

.search-form__textfield:active { /*work*/
    outline: 1px solid white;
}



.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}


.search-form__label:has(:focus) {
    outline: none;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid white;
}

.search-form__label:has(:hover) 
.search-form__label-text {
    text-decoration: underline;
    cursor: pointer;
   } 


.search-form__pseudo-checkbox {
    display: inline-block;
    background-color: transparent;
    border: 1px solid white;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    align-self: center;
    cursor: pointer;
}

.search-form__checkbox:active + 
.search-form__pseudo-checkbox::before  {
    display: block;
    position: relative;
    content: "";
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    left: 1px;
    top: 1px;
    text-decoration: none;
}

/*.search-form__checkbox:active + 
.search-form__label +
.search-form__label-text {
    text-decoration: none;
}*/

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
    display: block;
    position: relative;
    content: "";
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    left: 1px;
    top: 1px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.search-form__submit-button {
    display: inline-block;
    width: 194px;
    min-height: 34px;
    background-color: transparent;
    align-self: end;
    color: #fff;
    font-family: Fira Sans Condensed, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
}

.content__details {
    display: flex;
    align-self: end;
    flex-direction: column;
    min-width: 416px; 
}

.title {
    font-family: Oswald, Arial, sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 94%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content__accent {
    color: #545050;
}

ul,
ol {
    list-style: none;
}

.content__list {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 298px;
    width: object-fit;
    overflow-x: hidden;
}


.content__list-item {
    margin-bottom: 30px;
}

.content__list-item:last-child {
    margin-bottom: 0px;
}

.content__card-link {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 2px;
}

.content__card-link_current:hover,
.content__card-link:hover {
    text-decoration: underline;
}

.content__card-link_current:focus,
.content__card-link:focus {
    outline: none;
}

.content__card-link_current:focus-visible,
.content__card-link:focus-visible {
    outline: 2px solid white;
}

.content__card-link_current,
.content__card-link:checked {
    background-color: #545050;
}

.content__card-link_current,
.content__card-link:active {
    background-color: #545050;
    text-decoration: none;
}

.content__card-link_current:not(:checked):hover {
    text-decoration: none;
}

.content__video-card:nth-child(n) {
    display: flex;
    justify-content: space-between;
}

.content__video-card-description-container {
    display: inline-block;
    text-align: start;
    text-decoration: none;
    color: inherit;
}

.content__video-card-title {
    color: #fff;
    font-family: Oswald, Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -3px;
    margin-bottom: 6px;
}

.content__video-card-description {
    color: #fff;
    font-family: Fira Sans Condensed, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.2px;
    margin-top: -3px;
}

.content__video-card-thumbnail {
    display: block;
    height: 103px;
    width: 195px;
    object-fit: cover;
    object-position: center;
}

.more-button {
    display: inline-block;
    width: 100%;
    min-height: 34px;
    background-color: transparent;
    align-self: end;
    color: #fff;
    font-family: Fira Sans Condensed, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: -3px;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background-color: #545050;
}

.button:active:hover {
    text-decoration: none;
}